# Local configuration file
keil/apollo4_project.uvoptx
keil/apollo4_project.uvprojx
keil/apollo4_project.uvguix.andre

# Output generato
/keil/Listings/
/keil/bin/

# Useless directories
/keil6/
/iar/

# File temporanei o di sistema
*.tmp
*.log
