# Local configuration file
keil/ambra_application.uvoptx
keil/ambra_application.uvprojx
keil/ambra_application.uvguix.*

# Output generato
/keil/Listings/
/keil/bin/
/keil/JLinkLog.txt


# Useless directories
/keil6/
/iar/
/gcc/

# File temporanei o di sistema
*.tmp
*.log
